<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PickMeUp - Play</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett"/>
  </head>
  <body>
    <main id="root">
      <h1>Here we go again</h1>
      <div>
        <span style="padding-right: 0.5rem">State:</span>
        <span id="state">&nbsp;</span>
      </div>
      <div>
        <span style="padding-right: 0.5rem">Time:</span>
        <span id="time">&nbsp;</span>
      </div>
      <button id="play">
        Play
      </button>
      <button id="pause">
        Pause
      </button>
    </main>
  </body>
</html>
